.DS_Store
data/*
*.class
.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iwsx
*.iws
*.iml
*.ipr
/out/

static/images/*
!static/images/dummy.png
!static/images/Logo_Square_small.png
!static/images/OneDoesNotSimplyJens.png