.header {
    display: grid;
    grid-template-areas: 'A A A A A B C';
    heigth:110px;
    background-color: #EEEEEE;
    width:100%;
}


.header_img {
    heigth: 220px;
    width: 900px;
}

#login-button {
    position: absolute;
    right: 10px;
}
#logout-button {
    position: absolute;
    right: 10px;
}
#register-button {
    position: absolute;
    right: 80px;
}
#account-button {
    position: absolute;
    right: 80px;
}