<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{base}">
<body>

<div layout:fragment="content">
  <h1>Change Password</h1>
  <br>
  <form method="post">
    <dl>
      <dt>Old Password</dt>
      <dd><input type="password" name="oldPassword"></dd>
      <dt>New Password</dt>
      <dd><input type="password" name="newPassword"></dd>
      <dt>Confirm Password</dt>
      <dd><input type="password" name="confirm"></dd>
    </dl>
    <button type="submit" class="btn btn-danger" action="POST">Send Form</button>
    <small class="text-danger">BE SURE TO REMEMBER YOUR NEW PASSWORD</small>
  </form>
</div>
<br>
<br>
<div class="footer">
  <a href="/legal">Legal</a>
  <a href="/about">About us</a>
  <a href="/contact">Contact support</a>
</div>

</body>

</html>