<!DOCTYPE html>
<html lang="en" layout:decorate="~{base}"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.com">
<head>
  <meta charset="UTF-8">
  <title>Details</title>
</head>
<body>
<div layout:fragment="content">
	<h1 th:text="${item?.name}"></h1>
    <h5 th:text="|${item?.name}|"></h5>
    <br>
    <p>Bild Platzhalter</p>
    <p th:if="${item?.available} == true" style="color: forestgreen">Verfügbar</p>
    <p th:if="${item?.available} == false" style="color: crimson">Aktuell verliehen</p>
    <strong>Beschreibung:</strong>
    <span th:text="|${item?.description}|"></span>
    <br>
    <br>
    <strong>Kosten:</strong>
    <br>
    Tagessatz:
    <span th:text="${item?.price}"></span>
    <br>
    Kaution:
    <span th:text="${item?.bail}"></span>
    <br>
    <br>
    <strong>Abholort:</strong>
    <span th:text="${item?.location}"></span>
    <br>
    <br>
    <strong>Anbieter:</strong>
    <span th:text="${item?.owner?.accountName}"></span>
    (<span th:text="|${item?.owner?.totalRatings()}|"></span> Bewertungen:
    <span th:text="|${item?.owner?.getRating()}|"></span> &#128077;)
    <br>
    <br>
    <a th:if="${ownItem} == false " class="btn btn-success"
       th:href="|/offer/request/§{item?.id}|">Leihe anfragen</a>
    <a th:unless="${ownItem} == false " class="btn btn-primary"
       th:href="|/offer/request|">Anfragen anzeigen</a>
    <a style="margin-left: 1em;" th:unless="${ownItem} == false " class="btn btn-warning"
       th:href="|/item/editItem/${item?.Id}|">Gegenstand bearbeiten</a>
    <br>
    <br>
</div>
</body>
</html>
