<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Borrow.ly</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="shortcut icon" type="image/x-icon" href="/images/Logo_Square_small.png">
    <link rel="stylesheet" media="screen" href="/css/header.css">
    <link rel="stylesheet" media="screen" href="/css/footer.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Share easy, Borrow simple">
    <meta name="robots" content="notranslate">
</head>

<body>

<div class="header">
    <a href="/"><img src="/images/Header.png" class="header_img"></a>
    <div th:switch="${authenticated}">
        <span th:case="${false}">
            <a href="/login">
                <button type="button" class="btn btn-success" id="login-button">Login</button>
            </a>
            <a href="/user/register">
                <button type="button" class="btn btn-primary" id="register-button">Register</button>
            </a>
        </span>
        <span th:case="${true}">
            <a href="/logout">
                <button type="button" class="btn btn-danger" id="logout-button">Logout</button>
            </a>

            <a href="/user/account">
                 <button type="button" class="btn btn-primary" id="account-button">My Borrow.ly</button>
            </a>
        </span>
    </div>
</div>

<div class="Error">
    <h1 th:text="${errorcode}">ERROR</h1>
    <p>
        An error occurred: <br>
        <span th:text="${errormsg}">Errormessage foo bar.</span> <br>
        <a href="/">Back to safety!</a>
    </p>

</div>

<div class="footer">
    <a href="/legal">Legal</a> |
    <a href="/about">About us</a> |
    <a href="/contact">Contact support</a>
</div>

</body>

</html>