<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" layout:decorate="~{base}"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<title>Neuer Gegenstand</title>
<meta charset="UTF-8">
<meta name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<link rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous">
</head>
<body>
<div layout:fragment="content">
  <h1>Neuer Gegenstand</h1>
  <br>
  <form method="post" style="margin-left: 1em;">
    <label>
      <h4>Gegenstand</h4>
      <br>
      <br>
      Bezeichnung:(*)<br>
      <input type="text" name="name" th:value="${item?.name}" required></input>
      <br>
      <br>
      Bescheibung:(*)<br>
      <input type="text" name="description" th:value="${item?.description}" required></input>
      <br>
      <br>
      Tagessatz:(*)<br>
      <input type="number" name="price" min="0" th:value="${item?.price}" required></input>
      <br>
      <br>
      Kaution:(*)<br>
      <input type="number" name="deposit" min="0" th:value="${item?.deposit}" required></input>
      <br>
      <br>
      Abholadresse:(*)<br>
      <input type="text" name="location" th:value="${item?.location}" required></input>
      <br>
    </label>
    <br>
    <br>
    Alle mit * versehenen Angaben sind Pflichtfelder!
    <br>
    <br>
    <button type="submit" class="btn btn-primary" action="POST">Speichern</button>
  </form>
  <br>
  <!-- <a th:href="|/user/account/${user.id}| ">Ohne speichern zurück</a> -->
</div>
</body>
</html>
