<!DOCTYPE html>
<html lang="en" layout:decorate="~{base}"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.com">
<head>
  <meta charset="UTF-8">
  <title>Item Details</title>
</head>
<body>
<div layout:fragment="content">
  <h1 th:text="${item?.name}"></h1>
  <br>
  <img th:src="@{${'/images/' + item?.imageFileName}}"/>
  <dl>
    <dt>Description:</dt>
    <dd th:text="|${item?.description}|"></dd>
    <dt>Cost</dt>
    <dt>Daily Rate:</dt>
    <dd th:text="${item?.price}"></dd>
    <dt>Bail:</dt>
    <dd th:text="${item?.bail}"></dd>
    <dt>Location:</dt>
    <dd th:text="${item?.location}"></dd>
    <dt>Supplier:</dt>
    <dd th:text="${item?.owner?.accountName}"></dd>
  </dl>
  <strong><p>Rating:</p></strong>
  <span th:text="|${item?.owner?.totalRatings()}|"></span>
  <span th:text="|(${item?.owner?.getRating()}|"></span> &#128077;)
  <br>
  <br>
  <a th:if="${ownItem} == false " class="btn btn-success"
     th:href="|/offer/request/${item?.id}|">Request loan</a>
  <a th:unless="${ownItem} == false " class="btn btn-primary"
     th:href="|/offer/show/${item.getId()}|">Show Requests</a>
  <a style="margin-left: 1em;" th:unless="${ownItem} == false " class="btn btn-warning"
     th:href="|/item/edit/${item?.Id}|">Edit Item</a>
  <br>
  <br>
</div>
</body>
</html>
