<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" layout:decorate="~{base}"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
<title>New Item</title>
<meta charset="UTF-8">
<meta name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<link rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous">
</head>
<body>
<div layout:fragment="content">
  <h1 th:if="${item?.Id} == NULL">Create new Item</h1>
  <h1 th:unless="${item?.Id} == NULL" th:text="|edit ${item?.name}|"></h1>
  <br>
  <form method="post" style="margin-left: 1em;" th:object="${item}" enctype="multipart/form-data">
    <dl>
      <dt>Upload image:(*)</dt>
      <dd><input type="file" name="file"/></dd>
      <dt>Designation:(*)</dt>
      <dd><input type="text" name="name" th:value="${item?.name}" required></input></dd>
      <dt>Daily Rate:(*)</dt>
      <dd><input type="number" name="price" min="0" th:value="${item?.price}" required></input></dd>
      <dt>Bail:(*)</dt>
      <dd><input type="number" name="bail" min="0" th:value="${item?.bail}" required></input></dd>
      <dt>Location:(*)</dt>
      <dd><input type="text" name="location" th:value="${item?.location}" required></input></dd>
      <dt>Description:(*)</dt>
      <dd><textarea cols="80" name="description" rows="20"
                    th:field="*{description}" required></textarea></dd>
    </dl>
    <p>All (*) Fields are required!</p>
    <button type="submit" class="btn btn-primary" action="POST">Save</button>
  </form>
  <br>
</div>
</body>
</html>
