<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" layout:decorate="~{base}"
      xmlns:layout="http://www.w3.org/1999/xhtml">

<body>
<div layout:fragment="content">

    <div th:if="${keywords != null}">
        <h4> Search Keywords</h4>
        <span class="badge badge-info mr-1 mb-2" th:each="word : ${keywords}"
              th:text="${word}"></span>
    </div>

    <div class="card-deck" style="column-count: auto;">
        <div class="card border-dark" th:each="itemRental : ${itemRentals}"
             style="min-width: 15rem; max-width: 17rem;margin-bottom: 1rem;">
            <div th:if="${itemRental?.imageFileName != null}"><img
                th:src="@{${'/images/' + itemRental?.imageFileName}}" style="padding: 1rem;"/></div>
            <div th:if="${itemRental?.imageFileName == null}"><img src="/images/dummy.png"
                                                             class="card-img-top"
                                                             style="padding: 1rem;"/></div>

            <div class="card-body">
                <h4 class="card-title" th:text="${itemRental.getName()}">Item Name</h4>
                <p class="card-text" th:text="${itemRental.getDescription()}">Some quick example text to
                    build on
                    the card title and make up the bulk of the card's content.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <b>Daily Rate:</b>
                    <span th:text="|${itemRental.getDailyRate()}€|">5€</span>
                </li>

                <li class="list-group-item">
                    <b>Bail:</b>
                    <span th:text="|${itemRental.getBail()}€|">50€</span>
                </li>
            </ul>
            <div class="card-footer bg-white text-center">
                <a th:href="|/item/rental/details/${itemRental.getId()}|"
                   class="btn btn-outline-info btn-block">Details</a>
                <a th:href="|/user/${itemRental.getOwner().getId()}|"
                   class="btn btn-outline-secondary btn-block">User Details</a>
            </div>
        </div>
    </div>
</div>
</body>

</html>