<!DOCTYPE html>
<html lang="en" layout:decorate="~{base}"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.com">
<head>
    <title>Offer</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"/>
</head>
<body>
<div layout:fragment="content">
    <form method="post">
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Owner:</label>
            <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" value="Owner"
                       th:value="${itemRental.getOwner().getAccountName()}">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Item:</label>
            <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" value="Item"
                       th:value="${itemRental.getName()}">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Click to select Date:</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" name="daterange" placeholder="Click to select Date"/>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Borrow</button>
    </form>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script>
        $(function () {
            $('input[name="daterange"]').daterangepicker({
                opens: 'left',
                minDate: moment(),
                locale: {
                    format: 'DD.MM.YYYY'
                }
            });
        });
    </script>
</div>
</body>
</html>
