<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{base}">
<body>

<div layout:fragment="content">
    <form action="#" th:action="@{/user/register}" th:object="${userForm}" method="post">
        <dd class="grid">
        <dt>Name:</dt>
        <dd><input type="text" th:field="*{name}"></dd>
        <dt>Address</dt>
        <dd><input type="text" th:field="*{address}"></dd>
        <dt>Email</dt>
        <dd><input type="text" th:field="*{email}"></dd>
        <dt>PropayID</dt>
        <dd><input type="text" th:field="*{propayId}"></dd>
        <dt>Password</dt>
        <dd><input type="password" th:field="*{password}"></dd>
        <dt>Confirm Password</dt>
        <dd><input type="password" th:field="*{passwordConfirm}"></dd>
        <button type="submit">Send Form</button>
        </dl>
    </form>
</div>

</body>

</html>