<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{base}">
<body>

<div layout:fragment="content">
  <form method="post">
    <dd class="grid">
    <dt>Name:</dt>
    <dd><input type="text" name="name" th:value="${user?.name}"></dd>
    <dt>Address</dt>
    <dd><input type="text" name="address" th:value="${user?.address}"></dd>
    <dt>AccountName</dt>
    <dd><input type="text" name="accountName" th:value="${user?.accountName}"></dd>
    <dt>Email</dt>
    <dd><input type="text" name="email" th:value="${user?.email}"></dd>
    <dt>PropayID</dt>
    <dd><input type="text" name="propayId" th:value="${user?.propayId}"></dd>
    <dt>Password</dt>
    <dd><input type="password" name="password"></dd>
    <dt>Confirm Password</dt>
    <dd><input type="password" name="confirm"></dd>
    <button type="submit">Send Form</button>
    </dl>
  </form>
</div>

</body>

</html>