<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{base}">
<body>

<div layout:fragment="content">
  <h1 th:if="${user?.Id} == NULL">New Profile</h1>
  <h1 th:unless="${user?.Id} == NUll" th:text="|Edit Account: ${user?.accountName}|"></h1>
  <br>
  <div class="container" style="margin-left: 1em;">
    <form method="post" enctype="multipart/form-data">
      <dl>
        <dt>Upload image:(*)</dt>
        <dd><input type="file" name="image"/></dd>
        <dt>Name:(*)</dt>
        <dd><input type="text" name="name" th:value="${user?.name}" required></dd>
        <dt th:if="${user?.Id} == NULL">AccountName:(*)</dt>
        <dd th:if="${user?.Id} == NULL"><input type="text" name="accountName"
                                               th:value="${user?.accountName}" required></dd>
        <dd th:if="${user?.Id} == NULL">
          <small class="text-danger">ACCOUTNAME CANNOT BE CHANGED LATER!</small>
        </dd>
        <dt>Address:(*)</dt>
        <dd><input type="text" name="address" th:value="${user?.address}" required></dd>
        <dt>Email:(*)</dt>
        <dd><input type="text" name="email" th:value="${user?.email}" required></dd>
        <dt>PropayID:</dt>
        <dd><input type="text" name="propayId" th:value="${user?.propayId}"></dd>
        <dt th:if="${user?.Id} == NULL">Password:(*)</dt>
        <dd th:if="${user?.Id} == NULL"><input type="password" name="password" required></dd>
        <dt th:if="${user?.Id} == NULL">Confirm Password:(*)</dt>
        <dd th:if="${user?.Id} == NULL"><input type="password" name="confirm" required></dd>
      </dl>
      <p>All Fields marked with * are required!</p>
      <button type="submit" class="btn btn-primary" action="POST">Send</button>
    </form>
  </div>
  <br>

</div>

</body>

</html>